/env/
/venv/
**/__pycache__/**
*__pycache__*
.env
/venv/
**/__pycache__/**
*__pycache__*
.env
db.sqlite3
ai_error.log

# migrations but not the __init__.py
**/migrations/*
!/**/migrations/__init__.py
*/migrations/*

# media file but not the content of default
media/*
!/media/default/
!/media/default/**

# Environment
.env

#Virtual Environment
beokay/
postgres_data

# IDE
.idea/
.vscode
