boto3==1.37.22
celery==5.4.0
cloudinary==1.43.0
Django==5.1.7
django-cors-headers==4.7.0
django-environ==0.12.0
django-storages==1.14.5
drf-spectacular==0.28.0
google-auth==2.38.0
gunicorn==23.0.0
djangorestframework_simplejwt==5.5.0
openai==1.69.0
pillow==11.1.0
psycopg2==2.9.10
requests==2.32.3