{% extends "admin/base_site.html" %}
{% block extrastyle %}
{{ block.super }}
<style type="text/css">
  .graphBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-top: -70px;
    padding: 20px;
}

  .graphBox .box {
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-height: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  @media (max-width: 1050px) {
    .graphBox {
      grid-template-columns: 1fr;
      height: auto;
    }

  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 5px;
    flex-direction: row;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the counter cards */
  .card {
    border: 2px solid #93BD68;
    border-radius: 10px;
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #fff;
    max-width: 100%;
    transform: scale(1);
    transition: transform 0.5s;
  }
  .card:hover {
    background-color: #d0edb3;
    border: 1px solid #e1dfe4;
    transform: scale(1.1);
    z-index: 3;
    margin: 10px;

  }

  .card-title {
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    color: #93BD68;
    font-weight: normal;
    margin: 5px;
  }

  .card-icons {
    color: #93BD68;
    width: 80px;
    height: 80px;
  }

  .card-data {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 8px 0 0 0;
    color: #93BD68;
    font-family: 'Dancing Script', cursive;
  }


  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 968px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 1630px) { 
    .card-title {
      font-size: 18px;
    }

    .card-data {
      font-size: 18px;
    }

  }

  @media screen and (max-width: 1717px) { 
    .card-title {
      font-size: 18px;
    }

    .card-data {
      font-size: 18px;
    }

  }

  @media screen and (max-width: 1282px) {
    .card-title {
      font-size: 15px;
    }

    .card-data {
      font-size: 15px;
    }

  }

  @media screen and (max-width: 1205px) {
    .card-title {
      font-size: 15px;
    }

    .card-data {
      font-size: 15px;
    }
  
    @media screen and (max-width: 1105px) {
    
    .card-title {
      font-size: 15px;
    }

    .card-data {
      font-size: 15px;
    }
  

    @media screen and (max-width: 1081px) {
  
    .card-title {
      font-size: 10px;
    }

    .card-data {
      font-size: 10px;
    }
  }

    @media screen and (max-width: 968px) {
    .card{
      padding: 5px;
      display: block;
    }
    .row{
      margin: 0 3px;
      display: flex;
      flex-direction: column;
    }
    .card-title {
      font-size: 25px;
    }

    .card-data {
      font-size: 25px;
    }
  }
    @media screen and (max-width: 9052px) {
      .card-title {
        font-size: 20px;
      }

      .card-data {
        font-size: 20px;
      }

    }
    
    
    .link_style{
      text-decoration: none;

    }
</style>
{% endblock %}

{% block content %}
{{block.super}}
{% if user.is_admin or user.is_staff%}
<!-- <h1 style="text-align: center; font-size: 40px; color: #43336d;">Dashboard</h1> -->
<br>
<div class="row">
    <div  onclick="location.href='{{link}}{% url 'admin:index' %}accounts/user/?admin__exact=1&staff__exact=1'" style="cursor:pointer" class="card">
      <div>
        <svg
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:ns1="http://sozi.baierouge.fr"
    id="Layer_1"
    sodipodi:docname="administrator.svg"
    space="preserve"
    inkscape:export-filename="/home/lbear/Escritorio/sitio-proyectos.png"
    viewBox="0 0 500 500"
    sodipodi:version="0.32"
    inkscape:export-xdpi="325.57184"
    version="1.1"
    inkscape:export-ydpi="325.57184"
    inkscape:version="0.48.3.1 r9886"
    fill="currentColor"
    class="card-icons"
  >
  <defs
      id="defs29"
    >
    <linearGradient
        id="linearGradient7381-7"
      >
      <stop
          id="stop7383-7"
          style="stop-color:#babdb6"
          offset="0"
      />
      <stop
          id="stop7385-5"
          style="stop-color:white"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient7444-2"
      >
      <stop
          id="stop7446-2"
          style="stop-color:#888a85"
          offset="0"
      />
      <stop
          id="stop7448-4"
          style="stop-color:#555753"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient5443-0"
      >
      <stop
          id="stop5445-3"
          style="stop-color:white"
          offset="0"
      />
      <stop
          id="stop5447-0"
          style="stop-color:white;stop-opacity:0"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient6221-6"
      >
      <stop
          id="stop6223-4"
          style="stop-color:black"
          offset="0"
      />
      <stop
          id="stop6225-3"
          style="stop-color:black;stop-opacity:0"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient21004-8"
      >
      <stop
          id="stop21006-0"
          style="stop-color:#996200"
          offset="0"
      />
      <stop
          id="stop21008-4"
          style="stop-color:#593900"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient8026-0"
      >
      <stop
          id="stop8028-2"
          style="stop-color:#ffffff"
          offset="0"
      />
      <stop
          id="stop8030-8"
          style="stop-color:#ffffff;stop-opacity:0"
          offset="1"
      />
    </linearGradient
    >
    <filter
        id="filter45683"
        height="1.252"
        width="1.2226"
        color-interpolation-filters="sRGB"
        y="-.12601"
        x="-.11132"
        inkscape:collect="always"
      >
      <feGaussianBlur
          id="feGaussianBlur45685"
          stdDeviation="1.0099766"
          inkscape:collect="always"
      />
    </filter
    >
    <radialGradient
        id="radialGradient6395"
        gradientUnits="userSpaceOnUse"
        cy="469.46"
        cx="975.19"
        gradientTransform="matrix(1.335 .10019 -.10581 1.1912 -9.1405 -176.66)"
        r="8.9147"
        inkscape:collect="always"
      >
      <stop
          id="stop47575-1"
          style="stop-color:#ffffff"
          offset="0"
      />
      <stop
          id="stop47577-9"
          style="stop-color:#fbdea9"
          offset="1"
      />
    </radialGradient
    >
    <linearGradient
        id="linearGradient6397"
        y2="722.4"
        xlink:href="#linearGradient21004-8"
        gradientUnits="userSpaceOnUse"
        x2="1135.9"
        gradientTransform="translate(101.21 -243.74)"
        y1="708.09"
        x1="1123.6"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6399"
        y2="716.93"
        xlink:href="#linearGradient8026-0"
        gradientUnits="userSpaceOnUse"
        x2="1132"
        gradientTransform="translate(101.69 -243.42)"
        y1="711.39"
        x1="1121.2"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6401"
        y2="688.86"
        xlink:href="#linearGradient21004-8"
        gradientUnits="userSpaceOnUse"
        x2="1126.7"
        gradientTransform="translate(310.34 -122.24)"
        y1="721.73"
        x1="1152.1"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6403"
        y2="688.86"
        xlink:href="#linearGradient21004-8"
        gradientUnits="userSpaceOnUse"
        x2="1126.7"
        gradientTransform="translate(99.614 -242.64)"
        y1="721.73"
        x1="1152.1"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6405"
        y2="719.45"
        xlink:href="#linearGradient8026-0"
        gradientUnits="userSpaceOnUse"
        x2="1142.8"
        gradientTransform="matrix(.87331 0 0 1 243.89 -242.31)"
        y1="698.3"
        x1="1128"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6407"
        y2="621.39"
        gradientUnits="userSpaceOnUse"
        x2="1484.6"
        gradientTransform="matrix(1.141 0 0 1.0739 -449.66 -176.98)"
        y1="597.62"
        x1="1470.8"
        inkscape:collect="always"
      >
      <stop
          id="stop44869-2"
          style="stop-color:#ffffff"
          offset="0"
      />
      <stop
          id="stop44871-0"
          style="stop-color:#f8c367"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient6409"
        y2="621.39"
        xlink:href="#linearGradient8026-0"
        gradientUnits="userSpaceOnUse"
        x2="1484.6"
        gradientTransform="matrix(1.141 0 0 .82060 -449.58 -22.834)"
        y1="597.62"
        x1="1470.8"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6411"
        y2="510.61"
        xlink:href="#linearGradient8026-0"
        gradientUnits="userSpaceOnUse"
        x2="1065.7"
        gradientTransform="matrix(-.97276 0 0 1 2265.2 -6.3748)"
        y1="490.22"
        x1="1056"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6413"
        y2="510.61"
        xlink:href="#linearGradient8026-0"
        gradientUnits="userSpaceOnUse"
        x2="1065.7"
        gradientTransform="translate(185.27 -5.9836)"
        y1="490.22"
        x1="1056"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6415"
        y2="81.926"
        gradientUnits="userSpaceOnUse"
        x2="335.3"
        gradientTransform="matrix(1.7376 0 0 1.728 -513.76 -84.832)"
        y1="64.295"
        x1="304.76"
        inkscape:collect="always"
      >
      <stop
          id="stop4436-5"
          style="stop-color:#d3d7cf"
          offset="0"
      />
      <stop
          id="stop4438-9"
          style="stop-color:#babdb6"
          offset=".18304"
      />
      <stop
          id="stop4440-4"
          style="stop-color:white"
          offset=".31893"
      />
      <stop
          id="stop4442-6"
          style="stop-color:#babdb6"
          offset=".87644"
      />
      <stop
          id="stop4444-9"
          style="stop-color:#eeeeec"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient6417"
        y2="99.274"
        xlink:href="#linearGradient7444-2"
        gradientUnits="userSpaceOnUse"
        x2="330.06"
        gradientTransform="matrix(1.7376 0 0 1.728 -513.76 -84.832)"
        y1="70.282"
        x1="324.5"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6419"
        y2="60.768"
        xlink:href="#linearGradient7381-7"
        gradientUnits="userSpaceOnUse"
        x2="308.65"
        gradientTransform="matrix(1.7376 0 0 1.728 -513.76 -84.832)"
        y1="58.443"
        x1="302.29"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6421"
        y2="88.006"
        gradientUnits="userSpaceOnUse"
        x2="317.16"
        gradientTransform="matrix(1.7376 0 0 1.728 -513.76 -84.832)"
        y1="75.575"
        x1="326.6"
        inkscape:collect="always"
      >
      <stop
          id="stop7423-8"
          style="stop-color:white"
          offset="0"
      />
      <stop
          id="stop7425-1"
          style="stop-color:white;stop-opacity:0"
          offset="1"
      />
    </linearGradient
    >
    <radialGradient
        id="radialGradient6423"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        cy="34.498"
        cx="21.96"
        gradientTransform="matrix(.57922 0 0 .23986 -4.236 49.351)"
        r="12.728"
        inkscape:collect="always"
    />
    <radialGradient
        id="radialGradient6425"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        cy="34.498"
        cx="21.96"
        gradientTransform="matrix(.22665 0 0 .090574 3.1478 54.912)"
        r="12.728"
        inkscape:collect="always"
    />
    <radialGradient
        id="radialGradient6427"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        cy="34.498"
        cx="21.96"
        gradientTransform="matrix(.77229 0 0 .23992 34.967 48.77)"
        r="12.728"
        inkscape:collect="always"
    />
    <radialGradient
        id="radialGradient6429"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        cy="34.498"
        cx="21.96"
        gradientTransform="matrix(.31594 0 0 .090597 45.342 54.291)"
        r="12.728"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6431"
        y2="35.079"
        gradientUnits="userSpaceOnUse"
        x2="90.221"
        gradientTransform="matrix(1.0384 -1.036 .90828 .90612 -89.936 104.18)"
        y1="35.152"
        x1="97.442"
        inkscape:collect="always"
      >
      <stop
          id="stop4958-8"
          style="stop-color:#f8b17e"
          offset="0"
      />
      <stop
          id="stop4960-6"
          style="stop-color:#e35d4f"
          offset=".26238"
      />
      <stop
          id="stop4962-0"
          style="stop-color:#c6262e"
          offset=".66347"
      />
      <stop
          id="stop4964-4-6"
          style="stop-color:#690b54"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient6433"
        y2="27.273"
        gradientUnits="userSpaceOnUse"
        x2="36.001"
        gradientTransform="matrix(1.2622 0 0 1.26 1.0705 1.429)"
        y1="34.023"
        x1="29.278"
        inkscape:collect="always"
      >
      <stop
          id="stop2492-6"
          style="stop-color:#791235"
          offset="0"
      />
      <stop
          id="stop2494-8"
          style="stop-color:#dd3b27"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient6435"
        y2="44.14"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        x2="-9.7747"
        gradientTransform="matrix(.63166 -.62958 1.0718 1.0683 .93013 -9.9235)"
        y1="44.229"
        x1="-6.3078"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6438"
        y2="40.949"
        gradientUnits="userSpaceOnUse"
        x2="-10.566"
        gradientTransform="matrix(1.0992 -3.9001e-8 0 2.1905 -35.746 -74.299)"
        y1="40.972"
        x1="-2.1966"
        inkscape:collect="always"
      >
      <stop
          id="stop4101-8"
          style="stop-color:#edd563"
          offset="0"
      />
      <stop
          id="stop4103-8"
          style="stop-color:#e08223"
          offset="1"
      />
    </linearGradient
    >
    <linearGradient
        id="linearGradient6440"
        y2="12.324"
        gradientUnits="userSpaceOnUse"
        x2="-36.083"
        gradientTransform="matrix(1.362 0 0 1.362 11.25 .010777)"
        y1="7.714"
        x1="-45.569"
        inkscape:collect="always"
      >
      <stop
          id="stop4095-7"
          style="stop-color:#bb5e12"
          offset="0"
      />
      <stop
          id="stop4097-7"
          style="stop-color:#cd8033"
          offset="1"
      />
    </linearGradient
    >
    <radialGradient
        id="radialGradient6442"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        cy="21.623"
        cx="25.977"
        gradientTransform="matrix(-1.4139 -1.3929 1.1178 -1.1012 45.03 90.751)"
        r="2"
        inkscape:collect="always"
    />
    <radialGradient
        id="radialGradient6444"
        xlink:href="#linearGradient5443-0"
        gradientUnits="userSpaceOnUse"
        cy="11.84"
        cx="-39.458"
        gradientTransform="matrix(3.1553 -.21904 .38456 8.008 80.086 -88.127)"
        r="3.906"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6446"
        y2="22.476"
        xlink:href="#linearGradient7381-7"
        gradientUnits="userSpaceOnUse"
        x2="27.368"
        gradientTransform="matrix(-1.306 0 0 -1.2987 57.122 68.481)"
        y1="20.762"
        x1="25.572"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6448"
        y2="26.885"
        xlink:href="#linearGradient7444-2"
        gradientUnits="userSpaceOnUse"
        x2="31.089"
        gradientTransform="matrix(1.3116 0 0 1.31 -6.6484 -6.3458)"
        y1="35.624"
        x1="22.376"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6450"
        y2="36.912"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        x2="-7.0093"
        gradientTransform="matrix(.80228 0 0 1.9402 -41.044 -59.217)"
        y1="36.902"
        x1="-10.535"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6452"
        y2="40.377"
        xlink:href="#linearGradient6221-6"
        gradientUnits="userSpaceOnUse"
        x2="-10.048"
        gradientTransform="matrix(.68775 0 0 1.9346 -39.056 -57.996)"
        y1="40.39"
        x1="-5.9351"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6454"
        y2="37.586"
        xlink:href="#linearGradient5443-0"
        gradientUnits="userSpaceOnUse"
        x2="56.447"
        gradientTransform="matrix(1.379 0 0 2.8585 -120.78 -89.266)"
        y1="37.501"
        x1="58.548"
        inkscape:collect="always"
    />
    <linearGradient
        id="linearGradient6456"
        y2="12.585"
        xlink:href="#linearGradient5443-0"
        gradientUnits="userSpaceOnUse"
        x2="54.721"
        gradientTransform="matrix(-.91734 -.91833 .91734 -.91833 55.913 108.22)"
        y1="1"
        x1="54.765"
        inkscape:collect="always"
    />
  </defs
  >
  <sodipodi:namedview
      id="base"
      bordercolor="#666666"
      inkscape:pageshadow="2"
      inkscape:window-width="965"
      fit-margin-left="0"
      fit-margin-right="0"
      pagecolor="#ffffff"
      inkscape:window-maximized="0"
      inkscape:zoom="1.464"
      inkscape:window-x="300"
      showgrid="false"
      borderopacity="1.0"
      inkscape:current-layer="Layer_1"
      inkscape:cx="112.36339"
      inkscape:cy="255.06342"
      fit-margin-top="0"
      inkscape:window-y="90"
      fit-margin-bottom="0"
      inkscape:window-height="911"
      inkscape:pageopacity="0.0"
  />
  <rect
      id="256x256"
      style="display:none;fill:#eeeeec"
      height="256"
      width="256"
      y="597.23"
      x="-195.43"
      inkscape:label="256x256"
  />
  <rect
      id="48x48"
      style="display:none;fill:#eeeeec"
      height="48"
      width="48"
      y="597.23"
      x="-257.43"
      inkscape:label="48x48"
  />
  <text
      id="text6091"
      style="font-size:56.115px;font-weight:bold;fill:#2e3436;display:none;text-indent:0pt;font-family:Myriad;text-transform:none;line-height:125%"
      xml:space="preserve"
      y="598.49158"
      x="-640.33948"
      sodipodi:linespacing="125%"
    >
    <tspan
        id="tspan6093"
        y="598.49158"
        x="-640.33948"
        sodipodi:role="line"
      >audio-x-generic</tspan
    >
  </text
  >
  <rect
      id="256x256-4"
      style="display:none;fill:#eeeeec"
      height="256"
      width="256"
      y="597.23"
      x="-195.43"
      inkscape:label="256x256"
  />
  <rect
      id="48x48-2"
      style="display:none;fill:#eeeeec"
      height="48"
      width="48"
      y="597.23"
      x="-257.43"
      inkscape:label="48x48"
  />
  <text
      id="text6091-9"
      style="font-size:56.115px;block-progression:tb;fill:#2e3436;font-weight:bold;text-indent:0;display:none;font-family:Myriad;text-transform:none;line-height:125%"
      xml:space="preserve"
      y="598.49158"
      x="-640.33942"
      sodipodi:linespacing="125%"
    >
    <tspan
        id="tspan6093-2"
        y="598.49158"
        x="-640.33942"
        sodipodi:role="line"
      >audio-x-generic</tspan
    >
  </text
  >
  <rect
      id="rect2877"
      style="display:none;fill:#eeeeec"
      height="256"
      width="256"
      y="597.27"
      x="-195.93"
      inkscape:label="256x256"
  />
  <rect
      id="rect2879"
      style="display:none;fill:#eeeeec"
      height="48"
      width="48"
      y="597.27"
      x="-257.93"
      inkscape:label="48x48"
  />
  <text
      id="text2899"
      style="font-size:56.115px;block-progression:tb;fill:#2e3436;font-weight:bold;text-indent:0;display:none;font-family:Myriad;text-transform:none;line-height:125%"
      xml:space="preserve"
      y="598.53046"
      x="-640.83942"
      sodipodi:linespacing="125%"
    >
    <tspan
        id="tspan2901"
        y="598.53046"
        x="-640.83942"
        sodipodi:role="line"
      >audio-x-generic</tspan
    >
  </text
  >
  <g
      id="g5281"
      transform="translate(-221.93 564.41)"
    >
    <g
        id="g6551"
    />
  </g
  >
  <g
      id="g5105"
      transform="translate(-221.93 564.41)"
  />
  <g
      id="g5156"
      transform="translate(-221.93 564.41)"
    >
    <g
        id="g6441"
    />
  </g
  >
  <g
      id="g5229"
      transform="translate(-221.93 564.41)"
    >
    <g
        id="g6506"
    />
  </g
  >
  <g
      id="g6061"
      transform="matrix(3.5175 0 0 3.5175 1559.4 -1210.8)"
    >
    <g
        id="g49725"
        transform="matrix(2.6256 0 0 2.6256 -3627.5 -861.68)"
      >
      <path
          id="path49470"
          style="fill-rule:evenodd;fill:#fbdea9"
          sodipodi:nodetypes="ccccc"
          inkscape:connector-curvature="0"
          d="m1232.6 487.98 14.03-0.32165-4.209 21.369-6.8395-0.16082-2.9814-20.886z"
      />
      <path
          id="path49472"
          style="stroke-linejoin:round;fill-rule:evenodd;stroke:#996508;stroke-linecap:round;stroke-width:1px;fill:url(#radialGradient6395)"
          sodipodi:nodetypes="cccccscc"
          inkscape:connector-curvature="0"
          d="m1230.7 487.85 7.7159 5.1439h2.0003l7.4302-4.2866 0.2857-12.574s-0.6925-8.4956-9.7162-8.5732c-7.0244-0.0624-8.0017 10.859-8.0017 10.859l0.2858 9.4305z"
      />
      <path
          id="path49474"
          style="fill-rule:evenodd;fill:url(#linearGradient6397)"
          sodipodi:nodetypes="cssccc"
          inkscape:connector-curvature="0"
          d="m1230.3 481.12s-3.8578-6.3584-2.8577-10.288c1.0002-3.9294 3.0721-6.2155 6.8585-5.4297 2.8894 0.59967 4.8581 4.0008 4.8581 4.0008l-4.8581 0.28578-4.0008 11.431z"
      />
      <path
          id="path49476"
          style="fill-rule:evenodd;fill:url(#linearGradient6399)"
          sodipodi:nodetypes="cssccc"
          inkscape:connector-curvature="0"
          d="m1230.8 481.45s-3.8579-6.3584-2.8578-10.288c1.0002-3.9294 3.072-6.2156 6.8586-5.4297 2.8893 0.59965 4.858 4.0008 4.858 4.0008l-4.858 0.28576-4.0008 11.431z"
      />
      <path
          id="path49478"
          style="filter:url(#filter45683);fill-rule:evenodd;fill:url(#linearGradient6401)"
          d="m1440.6 587.36s0.4183-0.0954 0.8289 0.5129c5.0149 7.4281 16.042 7.1915 18.437 12.378 0.4132 0.89471 0.971 0.66079 0.971 0.66079s2.7863-5.1439 0.8573-10.002-3.7718-6.569-8.0017-8.2874c-4.5724-1.8575-5.7869-0.5001-9.1447 0.57155s-3.948 4.1665-3.948 4.1665z"
          sodipodi:nodetypes="csscsssc"
          transform="matrix(.88342 0 0 .88454 -41.816 -51.29)"
          inkscape:connector-curvature="0"
      />
      <path
          id="path49480"
          style="fill-rule:evenodd;fill:url(#linearGradient6403)"
          sodipodi:nodetypes="csscsssc"
          inkscape:connector-curvature="0"
          d="m1229.9 466.97s0.4183-0.0953 0.8289 0.5129c5.0148 7.4281 16.042 7.1915 18.437 12.378 0.4132 0.89471 0.971 0.66079 0.971 0.66079s2.7864-5.1439 0.8574-10.002-3.7719-6.569-8.0018-8.2874c-4.5724-1.8575-5.7869-0.5001-9.1447 0.57155s-3.9479 4.1665-3.9479 4.1665z"
      />
      <path
          id="path49482"
          style="fill-rule:evenodd;fill:url(#linearGradient6405)"
          sodipodi:nodetypes="cccsc"
          inkscape:connector-curvature="0"
          d="m1231 467.29s0.3653-0.0954 0.7239 0.51289c10.185 7.6649 27.844 3.0488 10.71-5.251-5.1654-1.751-3.6683-0.50009-7.9862 0.57155-3.0302 0.75206-3.4478 4.1666-3.4478 4.1666z"
      />
      <path
          id="path49484"
          style="opacity:.54925;fill-rule:evenodd;fill:url(#linearGradient6407)"
          sodipodi:nodetypes="cccccc"
          inkscape:connector-curvature="0"
          d="m1234.2 473.18c3.8015 2.4988 7.6031 4.1457 11.948 4.9408v9.0297c-4.7669 2.8963-8.6289 2.726-13.215 0.51113l-0.9051-8.689 2.1724-5.7926z"
      />
      <path
          id="path49486"
          style="fill-rule:evenodd;fill:url(#linearGradient6409)"
          sodipodi:nodetypes="cccccc"
          inkscape:connector-curvature="0"
          d="m1234.3 473.99c3.8015 1.9095 7.603 3.168 11.948 3.7755v6.9001c-4.767 2.2132-8.6288 2.0831-13.215 0.39058l-0.9053-6.6397 2.1726-4.4265z"
      />
      <path
          id="path49488"
          style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-linecap:round;stroke-width:1px;fill:#000000"
          sodipodi:nodetypes="ccccc"
          inkscape:connector-curvature="0"
          d="m1245.7 492.67-12.994 17.964 26.98 0.4878s-0.464-10.982-3.1326-14.509c-3.7448-3.1958-10.853-3.943-10.853-3.943z"
      />
      <path
          id="path49490"
          style="stroke-linejoin:round;fill-rule:evenodd;stroke:#000000;stroke-linecap:round;stroke-width:1px;fill:#000000"
          sodipodi:nodetypes="ccccc"
          inkscape:connector-curvature="0"
          d="m1233.9 493.3 9.2116 17.249-23.197 0.0443s0.8779-11.396 3.5465-14.923c3.7446-3.1958 10.439-2.3701 10.439-2.3701z"
      />
      <path
          id="path49492"
          style="fill-rule:evenodd;fill:url(#linearGradient6411)"
          sodipodi:nodetypes="ccccc"
          inkscape:connector-curvature="0"
          d="m1233.6 493.07 5.155 12.423-18.882-0.58536s0.4515-4.982 3.0474-8.5089c3.6426-3.1958 10.68-3.3292 10.68-3.3292z"
      />
      <path
          id="path49494"
          style="fill-rule:evenodd;fill:url(#linearGradient6413)"
          sodipodi:nodetypes="ccccc"
          inkscape:connector-curvature="0"
          d="m1245.9 492.84-7.3358 11.964 21.321 0.4878s-0.464-4.982-3.1326-8.5089c-3.7448-3.1958-10.853-3.943-10.853-3.943z"
      />
    </g
    >
    <g
        id="g3997"
        transform="matrix(.35332 0 0 .35332 -359.74 453.66)"
      >
      <path
          id="path6912"
          style="stroke-linejoin:round;enable-background:new;fill-rule:evenodd;stroke-dashoffset:.3612;stroke:url(#linearGradient6417);stroke-linecap:round;fill:url(#linearGradient6415)"
          inkscape:connector-curvature="0"
          d="m16.524 4.5014c-1.6551-0.31324-0.63726 1.1754-0.21911 1.7039 1.2034 2.1736 2.4675 4.3168 3.6323 6.5097 0.32388 1.4731-0.94902 2.6937-2.0009 3.5193-1.6697 1.1622-3.774 2.2362-5.8596 1.7306-1.05-0.326-1.31-1.502-1.865-2.325-1.1381-2.015-2.26-4.043-3.4084-6.0494-1.057-0.0311-1.0607 1.6904-1.2078 2.5254-0.36797 3.5123 0.30692 7.4727 3.0263 9.955 2.2086 2.038 5.4077 2.8303 8.34 2.2988 2.5809 0.80851 5.0506 2.1008 6.9719 4.0294 1.7635-1.8693 3.527-3.7385 5.2905-5.6078-1.711-1.68-3.133-3.679-4.016-5.917 0.837-3.054-0.239-6.415-2.488-8.5959-1.717-1.7176-3.86-3.0975-6.196-3.7767z"
      />
      <path
          id="path7379"
          style="enable-background:new;fill-rule:evenodd;fill:url(#linearGradient6419)"
          inkscape:connector-curvature="0"
          d="m16.528 5.1324c0.0325 0.012055 0.01211 0.053907 0 0.054085l3.9096 6.966c0.52741 0.93844 0.147 2.0467-0.4887 2.97-0.64202 0.93241-1.6368 1.8358-2.9322 2.538-1.2982 0.70368-2.6598 1.0416-3.801 1.08-1.1387 0.03835-2.2075-0.28496-2.715-1.188l-3.9099-7.02c-0.022414-0.0034-0.058034 0.0034-0.054387 0 0.035794-0.03802 0.00694 0.02765 0 0.05408-0.72096 3.0899-0.34703 6.6612 0.97739 9.018 1.8116 3.2239 5.594 4.7637 9.3395 4.104 3.7279-0.66359 6.9155-3.8935 7.7105-6.966 0.50201-1.9899 0.28814-4.1284-0.76019-5.994-1.3208-2.3504-4.2265-4.5638-7.2761-5.616l0.000087-0.0001726z"
      />
      <path
          id="path2911-3"
          style="opacity:.7;enable-background:new;stroke-dashoffset:.3612;stroke:url(#linearGradient6421);stroke-linecap:round;stroke-width:0.7;fill:none"
          inkscape:connector-curvature="0"
          d="m16.975 5.637c1.3398 2.3286 2.6497 4.4221 3.8528 6.8255 0.40264 1.6794-0.83105 3.2174-2.0153 4.2563-1.9925 1.573-4.6736 2.7611-7.2314 2.0501-1.3008-0.55721-1.6952-2.0164-2.4028-3.1209l-2.4723-4.348c-0.6995 3.293-0.1058 6.932 2.294 9.888 2.0005 2.0305 5.0566 2.7324 7.8125 2.25 2.1189 0.21234 5.6091 2.7359 7.279 4.0562l4.5425-4.4742c-1.953-1.955-3.296-3.274-4.29-5.895 0.222-1.55 0.434-3.151-0.059-4.676-0.805-2.7696-3.012-4.7462-5.467-6.0057l-1.843-0.8063z"
      />
      <path
          id="rect7166"
          style="opacity:.1;fill-rule:evenodd;enable-background:new;fill:#000000"
          inkscape:connector-curvature="0"
          d="m24.471 22.069c-0.17954 0.01487-0.33805 0.04961-0.45081 0.15863l-0.81966 0.83279c-0.45102 0.43601-0.1223 1.5084 0.77867 2.3794l2.7868 2.657 2.459-2.4191-2.7458-2.657c-0.675-0.653-1.469-0.996-2.008-0.952z"
      />
      <path
          id="path5331"
          style="opacity:.25;fill:url(#radialGradient6423)"
          inkscape:connector-curvature="0"
          d="m15.856 57.579a7.5 2.9992 0 1 1 -15 0 7.5 2.9992 0 1 1 15 0z"
      />
      <path
          id="path6769"
          style="opacity:.3;fill:url(#radialGradient6425)"
          inkscape:connector-curvature="0"
          d="m11.01 58.019a2.9348 1.1326 0 0 1 -5.8696 0 2.9348 1.1326 0 1 1 5.8696 0z"
      />
      <path
          id="path6765"
          style="opacity:.25;fill:url(#radialGradient6427)"
          inkscape:connector-curvature="0"
          d="m61.756 57a10 3 0 0 1 -20 0 10 3 0 1 1 20 0z"
      />
      <path
          id="path6773"
          style="opacity:.3;fill:url(#radialGradient6429)"
          inkscape:connector-curvature="0"
          d="m56.301 57.399a4.0909 1.1329 0 0 1 -8.1818 0 4.0909 1.1329 0 1 1 8.1818 0z"
      />
      <path
          id="path6899"
          style="stroke-linejoin:round;enable-background:new;stroke-dashoffset:.7;stroke:url(#linearGradient6433);stroke-linecap:round;stroke-width:.99963;fill:url(#linearGradient6431)"
          inkscape:connector-curvature="0"
          d="m23.194 27.719 26.847 28.597c1.7612 1.757 4.7764 1.527 6.7899-0.48182 2.0136-2.0088 2.2441-5.0168 0.48297-6.7738l-28.665-26.783-5.4547 5.4417zm28.182 22.674c1.001-0.99861 2.6355-0.99861 3.6364 0 1.001 0.99862 1.001 2.6292 0.000001 3.6278-1.001 0.99861-2.6355 0.99861-3.6364 0-1.001-0.99862-1.001-2.6292 0-3.6278z"
      />
      <path
          id="rect6533"
          style="opacity:.23106;fill:url(#linearGradient6435)"
          inkscape:connector-curvature="0"
          d="m28.164 27.295c0.69988-0.69757 1.981-0.54381 2.8725 0.34475l18.544 16.802c0.89146 0.88856 0.2026 3.0068-0.49727 3.7044-0.69988 0.69758-2.8246 1.3856-3.716 0.49701l-16.857-18.485c-0.892-0.888-1.046-2.165-0.346-2.863z"
      />
      <g
          id="g2892"
        >
        <rect
            id="rect5288"
            style="stroke-linejoin:round;stroke:url(#linearGradient6440);stroke-linecap:round;stroke-width:1.0002;fill:url(#linearGradient6438)"
            transform="matrix(-.70990 -.70430 .70640 -.70781 0 0)"
            rx="4.9948"
            ry="4.9948"
            height="39.053"
            width="12.041"
            y="-2.7302"
            x="-50.586"
        />
        <path
            id="path4983"
            style="opacity:.3;fill:url(#radialGradient6442)"
            inkscape:connector-curvature="0"
            d="m29.652 26.503a4.9113 2.8071 45 1 1 6.8945 6.9955 4.9113 2.8071 45 0 1 -6.8945 -6.9955z"
        />
        <rect
            id="rect5292"
            style="opacity:.6;stroke-linejoin:round;stroke:url(#radialGradient6444);stroke-linecap:round;fill:none"
            transform="matrix(-.71116 -.70303 .70626 -.70795 0 0)"
            rx="3.9834"
            ry="3.9833"
            height="37.459"
            width="9.6238"
            y="-2.0152"
            x="-49.38"
        />
        <path
            id="path5286"
            style="stroke-linejoin:round;stroke:url(#linearGradient6448);stroke-linecap:round;fill:url(#linearGradient6446)"
            inkscape:connector-curvature="0"
            d="m7.1589 58.5 6.1538-4.2461 0.747-2.5637 19.075-19.082c1.2973-1.4611-1.1487-4.0537-2.7704-2.755l-19.083 19.057-2.5782 0.73-4.2038 6.172s2.6589 2.6885 2.6589 2.6885z"
        />
        <rect
            id="rect2804"
            style="opacity:.2;fill:url(#linearGradient6450)"
            transform="matrix(-.71205 -.70212 .70724 -.70698 0 0)"
            rx=".93273"
            ry="1.0258"
            height="30.338"
            width="1.9583"
            y="2.8697"
            x="-49.067"
        />
        <rect
            id="rect5290"
            style="opacity:.2;fill:url(#linearGradient6452)"
            transform="matrix(-.71305 -.70112 0.707 -.70721 0 0)"
            rx=".93084"
            ry="1.0237"
            height="30.954"
            width="2.751"
            y="3.9117"
            x="-45.934"
        />
        <rect
            id="rect5398"
            style="opacity:.25;fill:url(#linearGradient6454)"
            transform="matrix(-.71205 -.70212 .70724 -.70698 0 0)"
            rx=".93273"
            ry="1.0258"
            height="30.338"
            width="1.9583"
            y="2.9194"
            x="-41.996"
        />
        <path
            id="path5450"
            style="fill:url(#linearGradient6456)"
            inkscape:connector-curvature="0"
            d="m7.2202 57.642 5.4776-3.6706 0.61324-2.3358c0.50444-0.5827-1.4734-2.4227-2.0067-2.0089l-2.3046 0.6426-3.6666 5.4837c0.71986 0.72064 1.1671 1.1684 1.887 1.889z"
        />
        <path
            id="path4979"
            style="opacity:.7;stroke-linejoin:round;stroke:#ffffff;stroke-linecap:round;fill:none"
            inkscape:connector-curvature="0"
            d="m32.336 31.74c0.09609-0.47908-0.57247-1.0791-1.0306-1.0775-6.4764 6.2826-12.959 12.889-19.338 19.275l-2.5514 0.76768c-1.1193 1.6433-2.2387 3.2867-3.358 4.93 0.42353 0.43667 0.84705 0.87335 1.2706 1.31 1.6668-1.1463 3.3336-2.2925 5.0003-3.4388 0.22758-0.71794 0.38642-1.4764 0.65578-2.1697"
        />
      </g
      >
    </g
    >
  </g
  >
</svg>

       </div>
      <span class="card-title">Admins</span>
      <hr>
      <span class="card-data">{{admins_chart_data}}</span>
    </div>

    <div onclick="location.href='{{link}}{% url 'admin:index' %}doctors/doctor/'" style="cursor:pointer" class="card">
      <div>
        <svg class="card-icons" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-people-fill"
          viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg>
      </div>
      <span class="card-title">Doctors</span>
      <hr>
      <span class="card-data">{{doctor_chart_data}}</span>
    </div>
    <div onclick="location.href='{{link}}{% url 'admin:index' %}patients/patient/'" style="cursor:pointer" class="card">
      <div>
        <svg class="card-icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
        </svg>
      </div>
      <span class="card-title">Patients</span>
      <hr>
      <span class="card-data">{{patient_chart_data}}</span>
    </div>
    <div onclick="location.href='{{link}}{% url 'admin:index' %}doctors/doctordocument/?is_approved__exact=0'" style="cursor:pointer" class="card">
      <div>
        <svg class="card-icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-x" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z"/>
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg>
      </div>
      <span class="card-title"> Pending Doctors</span>
      <hr>
      <span class="card-data">{{pending_doctors}}</span>
    </div>
    <div onclick="location.href='{{link}}{% url 'admin:index' %}doctors/doctordocument/?is_approved__exact=1'" style="cursor:pointer" class="card">
      <div>
        <svg class="card-icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
          <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
        </svg>
      </div>
      <span class="card-title">Approved Doctors</span>
      <hr>
      <span class="card-data">{{approved_doctors}}</span>
    </div>
  </div>

</div>
<br>
<br>
<div class="graphBox">
  <div class="box">
    <canvas id="firstChart"></canvas>
  </div>
  <div class="box">
    <canvas id="secondChart"></canvas>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const firstChart = document.getElementById('firstChart');

  new Chart(firstChart, {
    type: 'polarArea',
    data: {
      labels: [{% for label in chart_labels %}'{{ label }}',{% endfor %}],
    datasets: [{
      label: '',
      data: [{% for d in chart_data %}{{ d }}, {% endfor %}],
    backgroundColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 160, 65, 1)'

  ],
    borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 160, 65, 1)'

  ],
    borderWidth: 1
        }]
      },
    options: {
    responsive: true,
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
    });

  const secondChart = document.getElementById('secondChart');

  new Chart(secondChart, {
    type: 'bar',
    data: {
      labels: [{% for label in chart_labels %}'{{ label }}',{% endfor %}],
    datasets: [{
      label: 'Maximun',
      data: [{% for data in chart_data %}{{ data }}, {% endfor %}],
    backgroundColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
    borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
    borderWidth: 1
        }]
      },
    options: {
    responsive: true,
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const firstChart = document.getElementById('firstChart');

  new Chart(firstChart, {
    type: 'polarArea',
    data: {
      labels: [{% for label in chart_labels %}'{{ label }}',{% endfor %}],
    datasets: [{
      label: '',
      data: [{% for d in chart_data %}{{ d }}, {% endfor %}],
    backgroundColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 160, 65, 1)',
    'rgba(103, 36, 0, 1)',

  ],
    borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 160, 65, 1)',
    'rgba(103, 36, 0, 1)',

  ],
    borderWidth: 1
        }]
      },
    options: {
    responsive: true,
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
    });


  const secondChart = document.getElementById('secondChart');

  new Chart(secondChart, {
    type: 'bar',
    data: {
      labels: [{% for label in chart_labels %}'{{ label }}',{% endfor %}],
    datasets: [{
      label: 'Maximun',
      data: [{% for data in chart_data %}{{ data }}, {% endfor %}],
    backgroundColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
    borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
    borderWidth: 1
        }]
      },
    options: {
    responsive: true,
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
    });
</script>
{% endif %}
{% endblock %}